.person {
  background-color: yellow;
  border: 1px solid black;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.active {
  background-color: blue;
}
.currentDisplay {
  background-color: lightblue;
  border: 1px solid black;
  height: 200px;
  margin-bottom: 20px;
}
.buttons {
  margin-bottom: 10px;
  border-radius: 5px;
}
.currentDisplay p {
  margin-left: 10px;
  margin-right: 10px;
}
